<%= form_for(@song) do |f| %>
  <label>My Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>My Song Artist ID</label><br>
  <%= f.text_field :artist_id %><br>

  <label>My Song Genre ID</label><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>

<% end %>
